#pi-cam-container {
 position:fixed;
 bottom:0;
 right:0;
 width:480px;
 height:270px;
}

#pi-cam-button{
  width:30px;
  height:30px;
  position: absolute;
  top: -15px;
  left: -15px;
  border-radius: 100px;
  border: 5px solid #2f3236;
  background-color: #474A40;
}

.hidden-feed{
  display:none;
}

#pi-cam{
  width:100%;
}

.fullscreen{
  min-width:100%;
  min-height:100%;
}

.minimized-feed{
  height:0px!important;
  width:0px!important;
}

.fullscreen > #pi-cam-button {
  display: none;
}

.fullscreen > #pi-cam {
  position:absolute;
  top:50%;
  left:50%;

  transform: translate(-50%,-50%);
}
