#pi-cam-container {
 position:fixed;
 bottom:0;
 right:0;
}

#pi-cam-button{
  width:20px;
  height:20px;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 100px;
  border: 4px solid #2f3236;
  background-color: #36393f;
}

.hidden-feed{
  display:none;
}
