#pi-cam-container {
 position:fixed;
 bottom:0;
 right:0;
 width:480px;
 height:270px;
 background-color:#000000;
}

#pi-cam-button{
  width:30px;
  height:30px;
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 100px;
  border: 5px solid #2f3136;
  background-color: #595e68;
  text-align:center;
  line-height: 30px;
  font-size:30px;
}

#pi-cam-button::after{
  content: "\D7";
}

.minimized-feed > #pi-cam-button::after {
  content: "\21B8";

}

.hidden-feed{
  display:none;
}

#pi-cam{
  width:100%;
}

.fullscreen{
  min-width:100%;
  min-height:100%;
}
.minimized-feed > #pi-cam-button {
  border-radius: 0px;
  top: -40px;
  left: -40px;

}

.minimized-feed{
  height:0px!important;
  width:0px!important;
   transition-duration: 0.2137s;
}

.fullscreen > #pi-cam-button {
  display: none;
}

.fullscreen > #pi-cam {
  position:absolute;
  top:50%;
  left:50%;

  transform: translate(-50%,-50%);
}
