<div id="pi-cam-container" data-bind="visible: loginState.isUser()">
  <div id="pi-cam-button"></div>

        <canvas id="pi-cam" width="960" height="540"  data-bind="click: fullscreen"></canvas>
</div>
